:root {
  --fontHeading: font-family: "Merriweather Sans", sans-serif;
  --fontparr: font-family: "Roboto Slab", serif;
}



html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* 1 rem = 10px */
  background-color: #219ebc;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1 {
  font-family: "Merriweather Sans", sans-serif;
}



.todo-app {
  font-family: "Merriweather Sans", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: start;
  /* width: 520px; */
  min-height: 400px;
  background: #161a2b;
  text-align: center;
  /* margin: 50px auto; */
  border-radius: 25px;
  padding: 5rem 5rem;
  margin: 0.5rem;
  font-size: 1.5rem;
}

@media (min-width: 768px) {
  .todo-app {
    font-size: 1.8rem;
  }
  .container {
    width: min(70%, 120rem);
    margin: 50px auto;
  }
}

h1 {
  margin: 32px 0;
  color: #fff;
  font-size: 2rem;
}

.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.todo-form {
  width: 100%;
  margin-bottom: 32px;
}

.todo-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px;
  border: 2px solid #5d0cff;
  outline: none;
  width: 70%;
  background: transparent;
  color: #fff;
}

.todo-description {
  margin-top: 10px;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  min-height: 50px;
}

.todo-input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.todo-button {
  /* padding: 16px; */
  height: fit-content;
  width: fit-content;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  margin: 0 2px;
  padding: 16px 22px;
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
  color: #fff;
  text-transform: capitalize;
}

.todo-input.edit {
  border: 2px solid #149fff;
}

.todo-button.edit {
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
}

.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.todo-row {
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #fff;
  background: linear-gradient(
    90deg,
    rgba(255, 118, 20, 1) 0%,
    rgba(255, 84, 17, 1) 100%
  );

  padding: 16px;
  border-radius: 5px;
  width: 100%;
}

.todo-row:nth-child(4n + 1) {
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
}

.todo-row:nth-child(4n + 2) {
  background: linear-gradient(
    90deg,
    rgba(255, 12, 241, 1) 0%,
    rgba(250, 0, 135, 1) 100%
  );
}

.todo-row:nth-child(4n + 3) {
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 5px;
  color: #fff;
}

.edit-icon {
  color: #fff;
}

.done {
  text-decoration: line-through;
}

.todo {
  width: auto;
  text-align: left;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;

}

@media (min-width: 850px) {
  .description {
    display: flex;
    flex-direction: initial;
    justify-content: space-between;
  } 
}

/* To-Do effect */

@keyframes shake {
  0% {
    margin-left: 0rem;
  }
  25% {
    margin-left: 0.5rem;
  }
  75% {
    margin-left: -0.5rem;
  }
  100% {
    margin-left: 0rem;
  }
}

input:invalid {
  animation: shake 0.15s ease-in-out 0s 4;
  box-shadow: 0 0 0.6rem #ff0000;
}

/* Footer */
footer {
  background-color: #161a2b;
  margin: 10rem 0 0;
  padding-top: 7rem;
  padding-bottom: 2.5rem;
  display: flex;
  justify-content: center;
}

#footer {
  width: min(70%, 120rem);
  margin: 50px auto;
  background-color: #161a2b;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
  width: 100%;
  margin: 0rem 4rem 0rem;
}

@media (min-width: 768px) {
  #footer {
    display: grid;
    margin: 0rem 4rem 12rem;
  } 
}

.footer_column1 {
  display: flex;
  flex-direction: column;
  margin: 2rem 0 0;
  padding: 0 0 2rem;
  align-items: center;
  justify-content: center;
}

.footer_column2 {
  display: flex;
  flex-direction: column;
  margin: 2rem 0 0;
  padding: 0 0 2rem;
  justify-content: center;
  align-items: center;
}

.logo {
  background-image: url(corecodelogo.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 10rem;
  width: 25rem;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.profilepic {
  background-image: url(profilepic.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 20rem;
  width: 20rem;
  border-radius: 1rem;
}

.footer_column1--text p {
  font-family: "Roboto Slab", serif;;
  margin: 2rem 0 0;
  font-size: 3rem;
  color: #fff;
  text-align: center;
  font-weight: 400;
}



/* Pop-up message */

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
 

}

.popup.show {
  display: flex;
  opacity: 1;

}

.popup h3 {
  margin-top: 0;
}

.popup p {
  margin-bottom: 0;
}





.popup-content {
  background-color: #79C99E;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  text-align: center;
  margin-bottom: 1.5rem;
  opacity: 1;
  transition: opacity 0.3s ease;
 
}

.popup.show .popup-content {
  opacity: 1;
}



